.row1 {
    background-color: #F6A700;
}
.row3 {
    background-color: #D7D4E1;
}
.row4 {
    background-color: #D7D4E1;
    position: top;
}
.row5{
    background-color: #F6A700;
}
.logo-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.titulo-container {
    color: white;
    font-family: 'Sundae Ice';
    font-size: 150px;
    margin-top: 8px;
    text-align: center;
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 23px;
    text-align: center;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40px;
}
.inicio-container {
    background-image: url('Recurso 1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-size: cover;
}
.titulo-container{
    font-family: 'Sundae Ice';
    font-size:45px
}
.texto-container {
    font-family: 'Bainsley';
    font-size: 25px;
    text-align: left;
    width: 65%;
}
.quienes-container{
    height: 570px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.quienes-titulo {
    background-image: url("Rectangle 25.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    color: white;
    font-family: 'Bainsley';
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quienes-text{
    font-family: 'Bainsley';
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    margin-top: 60px;
}

.cuadro-container{
    background-image: url('Rectangle 32.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    margin-top: 25px;
    background-position: center;
}
.cuadro1-text, .cuadro2-text{
    position: relative;
    color: white;
    font-family: 'Bainsley';
    font-size: 35px;
    text-align: center;
    top:10%;
    width: 70%;
}
.imagen{
    width: 100px;
    height: 280px;
    margin-top: 10px;
}
.enlace-container{
    height: 100px;
}
.formar{
    font-family: 'Bainsley';
    font-size:25px;
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 0px;
}
.une{
    font-family: 'Bainsley';
    font-size:25px;
    font-weight: bold;
    text-align: center;
    color: #FF3823;
}

@media (max-width: 768px) {
    .lista ul {
        display: none;
    }
    .lista i {
        display: inline;
        cursor: pointer;
    }
}
